*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
div{
    width: 60%;
    animation-name: padideja;
    animation-duration: 1s;
}
img{
    width: 60%;
    animation-name: padideja;
    animation-duration: 1s;
}
p{
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
@keyframes padideja{
    0%{
        width: 80%;
    }
    100%{
        width: 60%;
    }
}