*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
div{
    width: 60%;
}
img{
    width: 60%;
}
p{
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}